body{
    background-image: url("abcd.jpg");
    color:white;
    background-size:100vw;
    margin: 0;
}

.logo{
    font-family: 'Gloock', serif;
    color: black;
    font-size: 2vw;
}
.name{
    text-align: center;
    color:white;
}

.friends{
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    height:85vh;
    width: 10vw;
    padding:5vh 0;
    /* margin-top: 2vh; */
    background-color:white;
    margin-left:3px;
    margin-right: 3px;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    border: 2px solid black;
    border-radius: 1vw;
    text-align: center;
}


.main{
    border-bottom: 1px solid black;
    border-top:0;
    border-right: 0;
    border-left: 0;
    background-color: white;
}
.main:active{
    background-color: rgb(215, 174, 253);
    color: black;
}
.mains{
    margin-bottom: 2px;
    border: none;
    background-color:white;
    border-bottom: 1px solid black;
}
.container{
    background-color:white;
    border-radius: 5px;
    width:20vw;
    height: 85vh;
    margin:0;
    align-content: center;
    display: flex;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    color: black;
    position: fixed;
}
.box{
    display: flex;
    /* margin-top: 2vh; */
    /* margin-left:2vw; */
    /* margin-left: 2vw; */
    border-radius: 1vw;
    /* padding-top: 3vh; */
}
.navbar navbar-expand-lg bg-body-tertiary{
    margin-bottom: 0;
}
.feel{
    width:80vw;
    margin-left:0;
    border: 0;
    border-bottom: 2px solid black;
    
}
.main:hover{
    background-color: black;
    color: white;
}

.add{
    color:black;
    border:0;
    width:4vw;
    height:5vh;
    border-radius: 30px;
    background-color: white;
}
.add:hover{
    background-color: rgb(0, 209, 236);
    color:white;
}
/*.add:active{
    background-color: rgb(5, 109, 169);
}  */
.bi bi-plus{
    align-items: center;
}
img, svg{
    justify-content: center;
    align-self: center;
    
}
img, svg:hover{
    color:rgb(0, 209, 236);
}