h1{
    color:black;
    text-align: center;
    font-size: 9vw;
    font-family: 'Gloock', serif;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
body{
    align-items: center;
    text-align:center;
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
}
.name,.dob,.form-control{
    font-size:2vw ;
    margin:4px 0;
}
